<ion-content fullscreen="true" class="fondo">
  <div class="barra-superior">
    <button class="logo-boton" (click)="irAPrincipal()">
      <img src="assets/icon/LT.png" class="logo" alt="Logo Less Time" />
      <span class="texto-logo">Less Time</span>
    </button>
    <div class="acciones-usuario">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-icon name="notifications-outline"></ion-icon>
      <button class="avatar-boton" (click)="abrirPerfil()">
        <img src="assets/icon/avatar.png" class="avatar" alt="Avatar usuario" />
      </button>
      <button (click)="cerrarSesion()" class="cerrar-sesion">
        <ion-icon name="log-out-outline"></ion-icon>
      </button>
    </div>
  </div>

  <div class="contenido-principal">
    <h2 class="saludo">¡Hola, {{usuario}}!</h2>

    <div class="grid-tarjetas">
      <button ion-button class="tarjeta" (click)="navegar('datos')">
        <img src="assets/icon/metricas.png" class="icono" alt="datos" />
        <p>Datos</p>
      </button>

      <button ion-button class="tarjeta" (click)="navegar('nomina')">
        <img src="assets/icon/nomina.png" class="icono" alt="Nómina" />
        <p>Nómina</p>
      </button>

      <button ion-button class="tarjeta" (click)="navegar('horario')">
        <img src="assets/icon/horario.png" class="icono" alt="Horario" />
        <p>Horario</p>
      </button>

      <button ion-button class="tarjeta" (click)="navegar('empleados')">
        <img src="assets/icon/empleados.png" class="icono" alt="Empleados" />
        <p>Empleados</p>
      </button>
    </div>
  </div>
</ion-content>
