.login-content {
  --background: none; /* Desactiva el fondo por defecto de Ionic */

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background: radial-gradient(
    ellipse 260% 150% at 50% 100%,
    #000000 0%,
    #000000 10%,
    #4285F4 25%,
    #A4BBD3 60%
  );

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.login-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.login-box label {
  font-weight: 500;
  margin-top: 10px;
  display: block;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 12px;
}

.forgot-password a {
  font-size: 0.85rem;
  color: #3c86ff;
  text-decoration: none;
}

button {
  width: 100%;
  background-color: #7cc31f;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 12px;
}

.register-link {
  text-align: center;
  font-size: 0.9rem;
}

.register-link a {
  font-weight: bold;
  color: #3c86ff;
  text-decoration: none;
}
