<ion-content class="login-content" fullscreen>
  <div class="login-container">
    <img src="assets/logo.png" alt="Logo LessTime" class="logo" />
    <h2>Inicio de Sesión en LT</h2>

    <div class="login-box">
      <label for="email">Email o Nombre de empresa</label>
      <input type="text" [(ngModel)]="email" placeholder="Email" />

      <label for="password">Contraseña</label>
      <input type="password" [(ngModel)]="password" placeholder="Contraseña" />

      <div class="forgot-password">
        <a href="#">¿Recordar contraseña?</a>
      </div>

      <button (click)="login()">Continuar</button>

      <div class="register-link">
        ¿Nuevo en LessTime? <a href="#">Crea una cuenta.</a>
      </div>
    </div>
  </div>
</ion-content>
