<ion-content fullscreen>
  <div class="main-container">
    <!-- Sidebar -->
    <div class="side-menu">
      <div class="logo-container" (click)="navegar('http://localhost:8101/principal')" style="cursor: pointer;">
        <img src="assets/icon/LT.png" alt="Less Time logo" class="logo" />
        <h2>Less Time</h2>
      </div>
      <ion-list lines="none">
        <ion-item button (click)="navegar('http://localhost:8100/datos')">
          <ion-icon name="bar-chart-outline"></ion-icon>
          Datos
        </ion-item>
        <ion-item button (click)="navegar('http://localhost:8100/listausuarios')">
          <ion-icon name="people-outline"></ion-icon>
          Empleados
        </ion-item>
        <ion-item button (click)="navegar('http://localhost:8100/horario')" class="selected">
          <ion-icon name="calendar-outline"></ion-icon>
          Calendario
        </ion-item>
        <ion-item button (click)="navegar('http://localhost:8100/nomina')">
          <ion-icon name="cash-outline"></ion-icon>
          Nomina
        </ion-item>
      </ion-list>

      <div class="bottom-icons">
        <ion-button fill="clear" class="avatar-btn" (click)="irPerfilAdmin()">
          <ion-avatar>
            <img src="assets/icon/avatar.png" alt="Usuario" />
          </ion-avatar>
        </ion-button>
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="header">
        <div>
          <h1>Horarios</h1>
          <span class="date"> Agosto 2025</span>
        </div>
        <!-- Se agrega el (click) para abrir el modal -->
        <button class="new-day-button" (click)="abrirNuevaJornada()">Nueva jornada</button>
      </div>

      <!-- Search bar -->
      <ion-searchbar
        placeholder="Buscar por ID, nombre o email"
        showClearButton="always"
      ></ion-searchbar>

      <!-- Tabla dinámica -->
      <div class="schedule-container">
        <div class="day-columns">
          <div
            class="day-column"
            *ngFor="let dia of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']; let i = index"
          >
            <div class="day-header">{{ dia }}</div>

            <div class="day-cell" *ngFor="let emp of empleados">
              <p>{{ emp.dias[i].estado }}</p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>

