.fondo { 
  --background: radial-gradient(150% 100% at 28% 105%, #000000 0%, #000000 10%, #4285F4 25%, #A4BBD3 60%);
  --background-size: cover;
  --background-position: center;
}

.imagen-ilustracion {
  position: absolute;
  top: 13.5rem;
  left: 12rem; 
  width: 240px;
  height: auto;
}

.caja-login { 
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 550px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(50px);
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 3.5rem 1rem 1rem 1rem;
  box-sizing: border-box;
}

.titulo-login {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.texto-login-arriba {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.75rem;
  color: #333;
  z-index: 10;
}

.enlace-login {
  font-weight: 600;
  color: #1D232B;
  cursor: pointer;
}

.texto-promocional { 
  position: absolute;
  top: 2rem;
  left: 6rem;         
  color: #000;        
  font-size: 2rem;     
  font-weight: 600;    
  max-width: 400px;    
  line-height: 1.2;    
}

.texto-promocional-2 { 
  position: absolute;
  top: 8.3rem;           
  left: 6rem;
  color: #000;
  font-size: 1rem;
  font-weight: 90;
  max-width: 400px;
  line-height: 1.2;
}

.grupo-formulario {
  margin-bottom: 1rem;
}

.etiqueta { 
  display: block;
  font-size: 1rem;
  margin: 0.2rem auto 0.2rem auto;
  color: #333;
  width: 90%;         
  text-align: left;   
  padding-left: 8px;  
}

.entrada {
  --background: transparent;
  --color: #000;
  height: 38px;
  width: 90%;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 12px;
  margin: 0 auto; 
  display: block;
}

.ayuda {
  font-size: 0.75rem;
  color: #555;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  width: 90%;
  text-align: left;
  line-height: 1.3;

  // Centrado visual alineado con el input
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
}

.boton-continuar { 
  margin-top: 1rem;
  width: 90%;
  height: 60px; 
  align-self: center;
  --background: #1D232B;
  --color: #fff;
  --border-radius: 12px;
  text-transform: none;
  font-size: 1rem;
  font-weight: 600;
}

.fecha-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  gap: 8px;
}

.entrada-fecha {
  --background: transparent;
  --color: #000;
  height: 38px;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 12px;
  flex: 1;
  
  &.entrada-fecha:first-child {
    flex: 0.8;
  }
  
  &.entrada-fecha:last-child {
    flex: 1.2;
  }
}

ion-select {
  --padding-start: 8px;
  --padding-end: 8px;
}