<ion-content fullscreen="true" class="fondo">
  <div class="barra-superior">
    <img src="assets/images/LT.svg" class="logo" alt="Logo Less Time">
    <nav class="menu">
      <a>Inicio</a>
      <a>Equipos de Trabajo</a>
      <a>Novedades</a>
    </nav>
    <div class="acciones-usuario">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-icon name="notifications-outline"></ion-icon>
      <img src="assets/images/avatar.png" class="avatar" alt="Avatar usuario">
    </div>
  </div>

  <div class="contenido">
    <h1>¡Hola, Lina!</h1>
    <div class="tarjetas">
      <div class="tarjeta">
        <ion-icon name="stats-chart-outline" class="icono"></ion-icon>
        <p>Métricas</p>
      </div>
      <div class="tarjeta">
        <ion-icon name="document-text-outline" class="icono"></ion-icon>
        <p>Nómina <span class="notificacion">5</span></p>
      </div>
      <div class="tarjeta">
        <ion-icon name="calendar-outline" class="icono"></ion-icon>
        <p>Horario</p>
      </div>
      <div class="tarjeta">
        <ion-icon name="people-outline" class="icono"></ion-icon>
        <p>Empleados</p>
      </div>
    </div>

    <div class="reportes">
      <h2>Reportes...</h2>
    </div>
  </div>
</ion-content>
