<ion-content fullscreen="true" class="background">
  <div class="login-box">
    <h2 class="login-title">Regístrate en Less Time</h2>

    <div class="form-group">
      <label class="input-label">Correo electrónico</label>
      <ion-input type="email" class="custom-input" required></ion-input>
    </div>

    <div class="form-group">
      <label class="input-label">Contraseña</label>
      <ion-input type="password" class="custom-input" required></ion-input>
      <p class="input-hint">
        La contraseña debe tener al menos 15 caracteres O al menos 8 caracteres, incluido un número y una letra minúscula.
      </p>
    </div>

    <div class="form-group">
      <label class="input-label">Nombre de la empresa</label>
      <ion-input type="text" class="custom-input" required></ion-input>
      <p class="input-hint">
        El nombre de la empresa sólo puede contener caracteres alfanuméricos y no puede comenzar ni terminar con un guion.
      </p>
    </div>

    <ion-button expand="block" class="continue-btn" routerLink="/home">
      Continuar
    </ion-button>    
  </div>
</ion-content>

