<ion-content class="fondo-modal" [fullscreen]="false">
  <div class="modal-container">
    <h2>Nueva jornada</h2>

    <form class="form-scroll" (ngSubmit)="guardarJornada()">
      <!-- Usuario -->
      <div class="form-row">
        <label>Usuario o ID*</label>
        <input type="text" [(ngModel)]="usuario" name="usuario" required />
      </div>

      <!-- Observación -->
      <div class="form-row">
        <label>Observación*</label>
        <input type="text" [(ngModel)]="observacion" name="observacion" />
      </div>

      <!-- Fecha -->
      <div class="form-row">
        <label>Fecha*</label>
        <div class="fecha-container">
          <ion-input
            type="number"
            class="entrada-fecha"
            placeholder="Día"
            min="1"
            max="31"
            [(ngModel)]="dia"
            (ionBlur)="validarDia()"
            name="dia">
          </ion-input>

          <ion-select class="entrada-fecha" [(ngModel)]="mes" placeholder="Mes" name="mes">
            <ion-select-option value="01">Enero</ion-select-option>
            <ion-select-option value="02">Febrero</ion-select-option>
            <ion-select-option value="03">Marzo</ion-select-option>
            <ion-select-option value="04">Abril</ion-select-option>
            <ion-select-option value="05">Mayo</ion-select-option>
            <ion-select-option value="06">Junio</ion-select-option>
            <ion-select-option value="07">Julio</ion-select-option>
            <ion-select-option value="08">Agosto</ion-select-option>
            <ion-select-option value="09">Septiembre</ion-select-option>
            <ion-select-option value="10">Octubre</ion-select-option>
            <ion-select-option value="11">Noviembre</ion-select-option>
            <ion-select-option value="12">Diciembre</ion-select-option>
          </ion-select>

          <ion-input
            type="number"
            class="entrada-fecha"
            placeholder="Año"
            min="1950"
            [max]="maxAnio"
            [(ngModel)]="anio"
            (ionBlur)="validarAnio()"
            name="anio">
          </ion-input>
        </div>
      </div>

      <!-- Días de trabajo -->
      <div class="form-row dias">
        <label>Días de trabajo*</label>
        <div class="dias-lista">
          <label><input type="checkbox" (change)="toggleDia('Lunes', $event)" /> Lunes</label>
          <label><input type="checkbox" (change)="toggleDia('Martes', $event)" /> Martes</label>
          <label><input type="checkbox" (change)="toggleDia('Miércoles', $event)" /> Miércoles</label>
          <label><input type="checkbox" (change)="toggleDia('Jueves', $event)" /> Jueves</label>
          <label><input type="checkbox" (change)="toggleDia('Viernes', $event)" /> Viernes</label>
          <label><input type="checkbox" (change)="toggleDia('Sábado', $event)" /> Sábado</label>
          <label><input type="checkbox" (change)="toggleDia('Domingo', $event)" /> Domingo</label>
        </div>
      </div>

      <!-- Horas -->
      <div class="form-row horas-dobles">
        <div>
          <label>Hora de entrada*</label>
          <input type="text" [(ngModel)]="horaEntrada" name="horaEntrada" placeholder="Ej. 08:30" />
        </div>
        <div>
          <label>Hora de salida*</label>
          <input type="text" [(ngModel)]="horaSalida" name="horaSalida" placeholder="Ej. 17:00" />
        </div>
      </div>

      <!-- Botones -->
      <div class="botones">
        <button type="button" class="cancelar" (click)="cerrarModal()">Cancelar</button>
        <button type="submit" class="guardar">Guardar</button>
      </div>
    </form>
  </div>
</ion-content>
